/* ========== Обнуление и общие настройки ========== */
@import "null.css";

.wrapper {
   min-height: 100%;
   overflow: hidden;
}

body {
   font-family: 'Lobster', Arial, sans-serif;
   background-color: rgb(27, 16, 27);
}

/* Шрифты:
   Lobster: 400;
   Pacifico: 400;
   Amatic SC: 700;
*/

/* ========== Header ========== */

.container {
   max-width: 1500px;
   height: 100%;
   margin: 0 auto;
}

.header {
   width: 100%;
   height: 100px;
   background-color: black;
   margin-bottom: 20px;
   border-radius: 0 0 20px 20px;
   box-shadow: 0 0 25px 15px rgb(40, 123, 218);
}

.header > a > img {
   overflow: hidden;
}

.navmenu {
   display: inline-block;
   margin-top: 35px;
   margin-left: 300px;
}

.navlink-main,
.navlink {
   color: rgb(40, 123, 218);
   margin-left: 20px;
}

.navlink-main {
   font-size: 30px;
   text-shadow: 5px 5px 15px rgb(89, 0, 255);
}

.navlink {
   font-family: 'Pacifico', Arial, sans-serif;
   font-size: 20px;
   text-shadow: 5px 5px 15px rgb(212, 0, 255);
}

/* ========== Prices ========== */

.prices-block {
   margin-bottom: 20px;
}

.title-main {
   text-align: center;
   margin-bottom: 20px;
   background-color: rgba(0, 255, 255, 0.438);
   border-radius: 10px;
   border: 10px double black;
   box-shadow: inset 0 0 20px 50px rgb(61, 130, 221);
}

.title-main h1 {
   font-family: 'Amatic SC', Arial, sans-serif;
   font-weight: 700;
   font-size: 45px;
   text-transform: uppercase;
}

.title-main h2 {
   font-family: 'Amatic SC', Arial, sans-serif;
   font-weight: 700;
   font-size: 45px;
   text-transform: uppercase;
   border: 5px dotted black;
}

/* ========== Prices-about block ========== */

.prices {
   display: inline-block;
   width: 845px;
   padding: 0 10px;
   background-color: rgba(19, 178, 226, 0.747);
   border-radius: 10px;
   outline: 3px solid black;
   margin-left: 50px;
   box-shadow: inset 2px 2px 100px 20px rgb(212, 0, 255), 0 0 20px 10px rgb(0, 119, 255)
}

.prices-image {
   border-radius: 20px;
   overflow: hidden;
}

.prices-title {
   text-align: center;
}

.prices-title h2 {
   font-size: 25px;
   margin: 10px 0 10px 0;
}

.prices p {
   font-size: 25px;
   text-align: justify;
   text-shadow: 5px 5px 15px rgb(212, 0, 255);
   text-indent: 20px;
   line-height: 40px;
   margin: 0 15px 15px 15px;
   letter-spacing: 3px;
}

.prices h3 {
   font-size: 35px;
   text-decoration: underline;
   margin-bottom: 10px;
   margin-left: 5px;
}

.prices-list {
   margin-left: 5px;
}

.prices-list li {
   font-size: 30px;
   margin-bottom: 10px;
}

.sale {
   text-decoration: line-through;
   font-size: 20px;
}

.list-1, .list-2 {
   display: inline-block;
}

.text {
   height: 400px;
   overflow: auto;
   margin-bottom: 20px;
}


/* ========== Places ========== */

.places-about {
   width: 100%;
   height: 250px;
   background-color: rgba(93, 47, 201, 0.37);
   text-align: justify;
   padding: 10px;
   border-radius: 10px;
   border: 3px dashed black;
   margin-bottom: 20px;
   box-shadow: 15px -15px 10px 5px rgb(202, 12, 177);
}

.places-about p {
   font-size: 20px;
   line-height: 35px;
   text-shadow: 5px 5px 15px rgb(212, 0, 255);
   color: rgb(52, 143, 196);
}

.places-about > p > span {
   text-decoration: underline;
   font-size: 25px;
}

.places img {
   display: block;
   border-radius: 10px;
   margin-bottom: 20px;
   overflow: hidden;
   box-shadow: -15px -15px 10px 10px rgb(202, 12, 177);
}


/* ========== Gallery ========== */

.gallery {
   margin-bottom: 50px;
}

.title-main-gal {
   text-align: center;
}

.title-main-gal h3 {
   font-family: 'Amatic SC', Arial, sans-serif;
   font-weight: 700;
   font-size: 120px;
   text-transform: uppercase;
   margin-bottom: 20px;
   color: rgb(196, 26, 145);
}

.g {
   color: blueviolet;
}

.a {
   color: blue;
}

.l {
   color: chartreuse;
}

.e1 {
   color: cornflowerblue;
}

.e2 {
   color: coral;
}

.r {
   color:darkgoldenrod;
}

.ya {
   color: crimson;
}

.gallery-photo {
   text-align: center;
}

.gallery-photo img {
   border-radius: 50%;
   outline: 3px solid rgb(225, 0, 255);
   box-shadow: 0 0 20px 10px rgb(225, 0, 255);
}

.image-number-2 {
   margin: 100px 0 0 -100px;
}

.image-number-3 {
   margin: 0 0 0 -100px;
}

.image-number-4 {
   margin: 100px 0 0 -100px;
}

.image-number-5 {
   margin: 0 0 0 -100px;
}

/* ========== Reviews ========== */

.review-1 {
   display: inline-block;
   width: 400px;
   height: 400px;
   background-color: blueviolet;
   border-radius: 100px 50px 200px 0px;
   text-align: center;
   padding: 60px 5px 5px 0;
   box-shadow: inset 0 0 20px 5px white, 0 0 20px 10px rgb(225, 0, 255);
   margin: 0 0 0 300px;
}

.review-2 {
   display: inline-block;
   width: 400px;
   height: 400px;
   background-color: blueviolet;
   border-radius: 50px 100px 0px 200px;
   text-align: center;
   padding: 60px 5px 5px 0;
   box-shadow: inset 0 0 20px 5px white, 0 0 20px 10px rgb(225, 0, 255);
   margin: -200px 300px 0 0;
   
}

.review-1.down {
   display: inline-block;
   width: 400px;
   height: 400px;
   background-color: blueviolet;
   border-radius: 100px 50px 200px 0px;
   text-align: center;
   padding: 60px 5px 5px 0;
   box-shadow: inset 0 0 20px 5px white, 0 0 20px 10px rgb(225, 0, 255);
   margin: -100px 0 50px 300px;
}

.reviews-block > div > p {
   font-size: 20px;
   line-height: 25px;
   color: rgb(184, 197, 201);
   text-decoration: overline;
}

.reviews-2-right {
   text-align: right;
}

.reviews-2-right > div > p {
   font-size: 20px;
   line-height: 25px;
   color: rgb(184, 197, 201);
   text-decoration: overline;
}

/* ========== Contacts ========== */

.footer {
   width: 100%;
   height: 100px;
   background-color: rgb(0, 0, 0);
   border-radius: 10px 10px 0 0;
   box-shadow: 0 0 25px 15px rgb(40, 123, 218);
   text-align: center;
}

.footer img {
   margin-top: 5px;
}

.contacts {
   display: inline-block;  
   width: 500px;
   height: 100px; 
   text-align: center;
   margin-top: -5px;
}

.contact-title {
   color: aqua;
   font-size: 30px;
   margin: 10px 0 10px 0;
}