/* ========== Обнуление и общие настройки ========== */
@import "null.css";

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
}

/* ========== Header ========== */

.container {
   max-width: 1025px;
   height: 100%;
   margin: 0 auto;
}

.header {
   text-align: center;
   margin-top: 140px;
   margin-bottom: 224px;
}

.main-title {
   font-family: "CircularStd", Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 65px;
   line-height: 82px;
   color: #313131;
   margin-bottom: 20px;
}

.text {
   display: inline-block;
   width: 750px;
   text-align: center;
}

.text p {
   font-family: "CircularStd", Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 25px;
   color: #5F5F5F;
}

/* ========== About ========== */

.about {
   display: inline-block;
   width: 508px;
   text-align: left;
}

.about-title {
   font-family: "CircularStd", Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 34px;
   line-height: 1.3;
   color: #313131;
   margin-bottom: 20px;
}

.about-text {
   font-family: "CircularStd", Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.56;
   color: #5F5F5F;
   margin-bottom: 125px;
}

/* ========== Author ========== */

.author {
   text-align: left;
   margin-bottom: 25px;
}

.author-name {
   font-family: "CircularStd", Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.3;
   color: #313131;
   margin-bottom: 5px;
}

.author-prof {
   font-family: "CircularStd", Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   color: #B8B8B8;
}
